<nav class="navbar navbar-expand-lg navbar-light bg-danger shadow-sm rounded mb-5" style="background-color: #ba0324 !important;">
    <a href="../" class="d-flex align-items-center">
        <img src="../assets/img/logo.png" alt="logo_site" class="logo img-fluid" style="max-height: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-auto me-3" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/accueil.html">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/panier.html">Panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/login.html">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/register.html">Inscription</a>
            </li>
        </ul>
    </div>
</nav>
