<nav class="navbar navbar-expand-lg navbar-light bg-danger shadow-sm rounded mb-5" style="background-color: #ba0324 !important;">
    <a href="../" class="d-flex align-items-center">
        <img src="../assets/img/logo.png" alt="logo_site" class="logo img-fluid" style="max-height: 50px;">
    </a>

    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a id="userIcon" class="nav-link text-white" href="../pages/profil.html" style="margin: 0; position: absolute; top: 12px; right: 0;">
        <img src="../assets/img/icones/user-icon.png" alt="logo_site" class="img-fluid me-3" style="max-height: 30px; max-width: 30px;">
    </a>

    <div class="navbar-collapse ms-auto me-3" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/accueil.html"><center>Accueil</center></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/panier.html"><center>Panier</center></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/login.html"><center>Connexion</center></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-5" href="../pages/register.html"><center>Inscription</center></a>
            </li>
            <li class="nav-item" id="navUserIcon">
                <a class="nav-link text-white fs-5" href="../pages/profil.html">
                    <img src="../assets/img/icones/user-icon.png" alt="logo_site" class="img-fluid me-3" style="max-height: 30px; max-width: 30px;">
                </a>
            </li>
        </ul>
    </div>
</nav>